:root {
  // PRIMARY COLOR
  --c-primary-100: #E5D8D8;
  --c-primary-200: #CBB1B0;
  --c-primary-300: #B08B89;
  --c-primary-400: #966461;
  --c-primary-500: #7C3D3A;
  --c-primary-600: #63312E;
  --c-primary-700: #4A2523;
  --c-primary-800: #321817;
  --c-primary-900: #190C0C;

  // SECONDARY Navy COLOR
  --c-secondary-navy-100: #CED0D4;
  --c-secondary-navy-200: #9DA2AA;
  --c-secondary-navy-300: #6B737F;
  --c-secondary-navy-400: #3A4555;
  --c-secondary-navy-500: #09162A;
  --c-secondary-navy-600: #071222;
  --c-secondary-navy-700: #050D19;
  --c-secondary-navy-800: #040911;
  --c-secondary-navy-900: #020408;

  // SECONDARY Blue COLOR
  --c-secondary-blue-100: #D2E7F7;
  --c-secondary-blue-200: #A6CFEF;
  --c-secondary-blue-300: #79B7E6;
  --c-secondary-blue-400: #4D9FDE;
  --c-secondary-blue-500: #2087D6;
  --c-secondary-blue-600: #1A6CAB;
  --c-secondary-blue-700: #135180;
  --c-secondary-blue-800: #0D3656;
  --c-secondary-blue-900: #061B2B;

  // WARM GRAY COLOR
  --c-warm-gray-100: #FCFCF9;
  --c-warm-gray-200: #FAF9F3;
  --c-warm-gray-300: #F7F6EE;
  --c-warm-gray-400: #F5F2E8;
  --c-warm-gray-500: #F2EFE2;
  --c-warm-gray-600: #C2BFB5;
  --c-warm-gray-700: #919088;
  --c-warm-gray-800: #61605A;
  --c-warm-gray-900: #30302D;
}

